@import 'assets/variables';

.auth-page {
  width: 100%;
  height: 100vh;
  background-color: #2dbecd;
  &__entry {
    display: flex;
    height: 300px;
    padding-top: 90px;
    justify-content: flex-start;
    align-content: center;

    &-item {
      &:first-child {
        margin-right: 160px;
      }
    }

    &-title {
      width: 505px;
      height: 173px;
      font-family: 'DrukWideCyr', serif;
      font-size: 72px;
      font-weight: 900;
      margin-bottom: 55px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: #ffc832;
    }

    &-subtitle {
      width: 486px;
      height: 117px;
      font-family: 'Lato', serif;
      font-size: 26px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #ffffff;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 675px;
    height: 415px;
    background: url('/static/auth/auth_1.png') no-repeat center;
    background-size: contain;

    &-reg {
      background: url('/static/auth/auth_2.png') no-repeat center;
    }
  }
}
